<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>This is a comment</comment>
    <entry key="debug">0</entry>
    <entry key="inputFile">res/test.tsv</entry>
    <entry key="debugInputFile">res/train.tsv</entry>
    <entry key="outputFile">res/output.ttl</entry>
    <entry key="debugOutputFile">res/minitestoutput.tsv</entry>
    <entry key="resultFile">res/result.ttl</entry>
    <entry key="knowledgeFile">res/knowledge_base.xml</entry>
    <entry key="numThreadsWiki">10</entry>
</properties>